@font-face {
  font-family: "MV Kelaa";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/assets/mv-kelaa/kelaa-regular.woff2") format("woff2");
}

@font-face {
  font-family: "MV Kelaa";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/assets/mv-kelaa/kelaa-bold.woff2") format("woff2");
}

:root {
  --thaana-font-mv-kelaa: "MV Kelaa", sans-serif;
}

.font-mv-kelaa {
  font-family: var(--thaana-font-mv-kelaa);
}
